<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ css_path }}">
    <style>
    </style>
  </head>
  <body>
   <h1 class="headers">Отчет о расходах</h1>

    <div class="report-block">
      {% include "categories_report.html" %}
    </div>
    <div class="report-block">
      {% include "days_report.html" %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="report-block">
      {% include "ungrouped_report.html" %}
    </div>
  </body>
</html>
